<div class="countries">
    <h3 class="list-header">Countries:</h3>
    <ul class="list">
        {{#each countries}}
        <li class="list-item">Country:{{this.name}}</li>
        {{/each}}
    </ul>
</div>