.card {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.card-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
}

.list-item {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
}

.card-text-title {
  font-weight: bold;
}

.card-title {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}
